.header-desktop {
    width: 1080px;
    overflow: hidden
}

header ul {
    list-style: none;
    padding: 0;
    margin: unset
}

* {
    text-decoration: none !important;
}

header {
    border-bottom: 1px solid rgb(215, 222, 224);
    margin-bottom: 24px;
}

